<H2>Student Listing</H2>
<hr>
<% @students.each do |student| %>
<p>First Name: <%= student.pretty_name %></p>
<p>Last Name: <%= student.last_name %></p>
<p>House: <%= student.house.name %></p>
<p>Age: <%= student.age %></p>
<img class="house_logo" src="<%= student.house.logo_url %>" >

<hr>
<% end %>
